/* CSS variables. */
:root {
  --standard-text-color-headline: #dbafe0;
  --standard-border-radius: 10px;
  --standard-border-style: ridge;
  --border-style-buttons: solid;
  --standard-border-color: rgb(209, 82, 203);
  --standard-background-color-selector: rgb(88, 36, 80);
  --standard-margin-selector: 5px;
  --standard-font-color-selector: black;
  --day-year-font-color-selector: white;
  --standard-font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(138, 153, 170);
}

.navbar {
  
  display: flex;  
}

.navbar a {  
  flex-basis: 300px;
  line-height: 30px;  
  text-decoration: none;
  text-align: center;
  font-weight: var(--standard-font-weight);
  color: var(--standard-font-color-selector);
}

.navbar a:hover {
  background-color: var(--standard-background-color-selector);
  border-radius: var(--standard-border-radius);
}



/* wrapper is the container of all objects of the website. */
.wrapper {
  background-color: rgb(178, 162, 180);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  border-radius: var(--standard-border-radius);
  border-style: var(--standard-border-style);
  border-color: var(--standard-border-color);
}

/* The head line of the website. */
#ThemeTitle {
  background-color: var(--standard-background-color-selector);
  margin: 5px;
  margin-bottom: 10px;
  color: var(--standard-text-color-headline);
  border-color: var(--standard-border-color);
  border-radius: var(--standard-border-radius);
  border-style: var(--standard-border-style);
  padding: 5px;
  font-size: 20px;
  font-weight: var(--standard-font-weight);
  text-align: center;
  text-shadow: 2px 2px rgb(65, 33, 68);
  font-style: oblique;
}

/* the container for the input elements for the year, month and button for the current month. */
#Selector {  
  display: grid;  
  grid-template-columns: 1fr auto 20ch auto;
  column-gap: 10px;
  background-color: var(--standard-background-color-selector);
  border-radius: var(--standard-border-radius);
  border-style: var(--standard-border-style);
  border-color: var(--standard-border-color);
  margin: var(--standard-margin-selector);
}

/* Id "month": the drop down list to choose the month. */
#monthSelector {
  color: var(--standard-font-color-selector);
  font-weight: bold;
  margin: var(--standard-margin-selector);
  border-style: var(--border-style-buttons);
  border-color: var(--standard-border-color);  
}

/* Text lable before the input field for the year */
#markerYear {
  font-size: var(--font-size);
  font-weight: var(--standard-font-weight);
  color: var(--day-year-font-color-selector);
}

/* Id "year": field in which the year as number is entered. */
#yearInput {
  color: var(--standard-font-color-selector);
  margin: var(--standard-margin-selector);
  border-style: var(--border-style-buttons);
  border-color: var(--standard-border-color);  
}

/* Id "showButton": Button to click to show the current month of today. */
#showButton {
  --font-size: 13px;
  margin: var(--standard-margin-selector);
  color: var(--standard-font-color-selector);
  font-size: var(--font-size);  
  height: calc(var(--font-size) + 25px);
  border-style: var(--border-style-buttons);
  border-radius: var(--standard-border-radius);
  border-color: var(--standard-border-color);
}

/* End of the elements inside the selector element.*/

/* The container of the day boxes  */
#daylist {
  display: grid;
  margin: var(--standard-margin-selector);
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  grid-gap: var(--standard-margin-selector);
}

/* Styling of the error messages displayed instead of the days of a month */
#unvalidYear {
  margin: var(--standard-margin-selector);
  border-radius: var(--standard-border-radius);
  border-style: var(--border-style-buttons);
  color: white;
  background-color: red;
  text-align: center;
  font-weight: bold;
  font-size: 30px;  
}

/* How a box for a day looks like. A Day box shows the number of the day in the month and 
   which weekday it is. */
.day {
  background-color: var(--standard-background-color-selector); 
  color: var(--day-year-font-color-selector);
  padding-left: 5px;
  padding-top: 5px;
  height: 50px;
  border-style: var(--standard-border-style);
  border-radius: var(--standard-border-radius);
  border-color: var(--standard-border-color);
}

/* Handling for smartphones. */
@media screen and (max-width: 700px) {
  #wrapper {
    width: 95%;
    min-width: 330px;
    --margin: 2%;
    margin-left: var(--margin);
    margin-right: var(--margin);
    margin-top: 2%;
  }

  #ThemeTitle {
  font-size: 18px;
  }
  
  #monthSelector {
    grid-area: monthSelector;    
  }

  #markerYear {
    grid-area: markerYear;
    margin-left: 5px;
  }

  #yearInput {
    grid-area: yearInput;
  }

  #showButton {
    grid-area: showButton;
  }

  /* For better usability the dropdown menu for the months are placed below every other 
  element of the selector */

  #Selector {
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas:  "markerYear yearInput showButton"
                          "monthSelector monthSelector monthSelector" ;
    grid-auto-flow: column;
    column-gap: 2px;
  }

}
